.left-0 {
    left: 0;
}
.-left-120 {
    left: -120%;
}
#ques-bar {
    line-height: normal;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 38rem;
    background-color: white;
    color: black;
    z-index: 1000;
}
.nav-collapse {
    padding: 3px 0;
    background: #f1f5f9;
    /* box-shadow: inset 0px 0px 3px 0px; */
}
hr {
    margin: 8px 0;
}