.left-0 {
    left: 0;
}
.-left-120 {
    left: -200%;
}
.right-0 {
    right: 0;
}
.-right-120 {
    right: -120%;
}

.right-77 {
    right: 77px;
}
.mr-74 {
    margin-right: 74px !important;
}
.rotate-180::before {
    transform: rotateY(-180deg) !important;
}
/* #nav-toggle-icon {

} */

#ques-bar,#ques-bar-component-2,#ques-bar-component-3,#ques-bar-component-4 {
    transition-duration: 400ms;
    transition-property: left;
    line-height: normal;
    position: fixed;
    top: 0;
    height: 100%;
    width: 38rem;
    background-color: white;
    color: black;
    z-index: 1000;
}
#ques-component,#ques-component-2,#ques-component-3,#ques-component-4{
    height: 100%;
    overflow-y: scroll;
}
#nav-big, #nav-small {
    transition-duration: 100ms;
    transition-property: right;
}
#nav-big .navbar-nav .nav-item .nav-link {
    display: flex !important;
    gap: 8px;
}
#nav-small .navbar-nav .nav-item .nav-link {
    display: block !important;
    transition-property: background-color, color;
    transition-duration: 100ms;
}
#nav-small .navbar-nav .nav-item .nav-link:hover {
    background-color: #20aa16 !important;
    color: white !important;
}
.navbar-vertical-compact {
    max-width: fit-content !important;
}
#page-content-for-mini {
    margin-right: 190px;
    transition-duration: 100ms;
    transition-property: margin-right;
}
@media(max-width: 770px) {
    #page-content-for-mini {
        margin-right: 0;
    }
    #nav-big {
        display: none;
    }
    #ques-bar,#ques-bar-component-2,#ques-bar-component-3,#ques-bar-component-4 {
        width: 100%;
    }
}
.ques-component-child {
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}
.ques-component-child:hover {
    background-color: #b0d2f556;
}
.nav-collapse {
    padding: 3px 0;
    background: #f1f5f9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 11px 15px -12px inset, rgba(0, 0, 0, 0.4) 0px -11px 20px -15px inset;
}
hr {
    margin: 8px 0;
}

.ques-item-icon::before {
    color: #20aa16;
    font-size: 80px;
}
.ques-small-item-icon::before {
    color: #20aa16;
    font-size: 40px;
}
.ques-xsmall-item-icon::before {
    color: #20aa16;
    font-size: 20px;
}
.nav-toggle-icon::before {
    font-size: 30px !important; 
}
.ques-label {
    color: #818283;
}
.ques-input {
    width: 60%;
    border: 1px solid #d9d9d9;
    padding: 8px;
}