.left-0 {
    left: 0;
}
.-left-120 {
    left: -120%;
}
#ques-bar,#ques-bar-component-2,#ques-bar-component-3,#ques-bar-component-4 {
    transition-duration: 400ms;
    transition-property: left;
    line-height: normal;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 38rem;
    background-color: white;
    color: black;
    z-index: 1000;
}
.ques-component-child {
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
}
.ques-component-child:hover {
    background-color: #b0d2f556;
}
.nav-collapse {
    padding: 3px 0;
    background: #f1f5f9;
    /* box-shadow: inset 0px 0px 3px 0px; */
}
hr {
    margin: 8px 0;
}
.ques-item-icon::before {
    color: #195a9c;
    font-size: 80px;
}
.ques-small-item-icon::before {
    color: #195a9c;
    font-size: 40px;
}
.ques-xsmall-item-icon::before {
    color: #195a9c;
    font-size: 20px;
}
.ques-label {
    color: #818283;
}
.ques-input {
    width: 60%;
    border: 1px solid #d9d9d9;
    padding: 8px;
}